---
import Layout from '../layouts/Layout.astro';
import SRHero from '../components/SRHero.astro';
import SRTiers from '../components/SRTiers.astro';
import SRSalaVip from '../components/SRSalaVip.astro';
import SRAutoridade from '../components/SRAutoridade.astro';
import SRFooter from '../components/SRFooter.astro';
---
<Layout canonicalPath="/">
  <main class="min-h-screen w-full bg-white text-black font-sans antialiased">
    <SRHero />
    <hr class="border-gray-100" />
    <SRTiers />
    <SRSalaVip />
    <SRAutoridade />
    <SRFooter />
  </main>
</Layout>
